amqp==5.1.1
async-timeout==4.0.3
billiard==4.1.0
blinker==1.6.3
cachelib==0.10.2
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.1.1
cycler==0.12.1
Flask==3.0.0
Flask-Session==0.5.0
fonttools==4.43.1
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
kombu==5.3.2
llvmlite==0.41.1
MarkupSafe==2.1.3
matplotlib==3.8.0
numba==0.58.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
prompt-toolkit==3.0.39
pynndescent==0.5.10
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.3
six==1.16.0
spotipy==2.23.0
tbb==2021.10.0
threadpoolctl==3.2.0
tqdm==4.66.1
tzdata==2023.3
umap-learn==0.5.4
urllib3==2.0.7
vine==5.0.0
wcwidth==0.2.8
Werkzeug==3.0.1